{% extends "base.html" %}

{% block body %}

    <div class="row">
        <div class="col-md-12 featuredArea">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 categoryContainer">
            <div class="row">
                {% for category in data.categories %}
                    <div class="col-md-4 categoryBox">
                        <a href="{{ request.url_root }}category/{{ category.slug }}" class="categoryLink">
                            <div class="row">
                                <div class="col-md-12 categoryIcon"><i class="fa {{ category.icon_class }}"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 categoryName">{{ category.name }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}